.content {
    /* box-sizing: border-box; */
    background-image: url('../appPhotos/sample.jpg');
    height: 100vh;
    background-size: cover;
}

.right-content {
    background-color: rgba(206, 200, 223, 0.6);
    height: 100vh;

}

.form-container {
    position: relative;
   top: 70px;
}

.kredo-logo {
    width: 400px;
    height: 100px;
    /* position: relative; */
   
    
}
.kredo-logo-container{
    position: relative;
    top: 50px;
    left: 15px;
    
}